<?xml version="1.0" encoding="UTF-8"?>

<sprexor>
	<activate>
		<error>Activation failed.</error>
	</activate>
	
	<parser>
		<error>
			<syntax>invalid literal syntax.</syntax>
			<bsp>'BASIC' must use separately</bsp>
			<nv>no variable</nv>
			<iv>Invalid variable name : %s\n</iv>
			<st>%s : Application stopped (%s)\n</st>
		</error>
	</parser>
	
	<load>
	activate/error
	
	parser/error/syntax
	parser/error/bsp
	parser/error/nv
	parser/error.iv
	</load>
</sprexor>